<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeFeat")}}</h4>

{{# if data.requirements.value }}<span class="item-summary">{{data.requirements.value}}</span>{{/if}}

<div class="feat-details">
    <div class="form-group">
        <label>{{localize "PF2E.FeatTypeLabel"}}</label>
        <select name="data.featType.value" data-dtype="String">
            {{#select data.featType.value}}
                {{#each featTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Rarity"}}</label>
        <select name="data.traits.rarity" data-dtype="String">
            {{#select data.traits.rarity}}
                {{#each rarities as |rarity|}}
                    <option value="{{rarity.value}}">{{localize rarity.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <ol class="item-tags tags">
        <li class="tag tag_transparent">{{#with (lookup rarities data.traits.rarity) as |rarity|}}{{localize rarity.label}}{{/with}}</li>
        {{#each traits as |trait|}}
            {{#if trait.selected}}
                <li class="tag tag_transparent">{{localize trait.label}}</li>
            {{/if}}
        {{/each}}
    </ol>

    {{#unless (any (eq data.featType.value "classfeature") (eq data.featType.value "ancestryfeature") (eq data.featType.value "curse") (eq data.featType.value "dietyboon") )}}
        <span class="item-summary">{{localize "PF2E.FeatPrereqLabel"}}</span>
        <ol class="item-tags tags">
        {{#each data.prerequisites.value as |v k|}}
            <li class="tag tag_transparent {{k}}">{{v.value}}</li>
        {{/each}}
        </ol>
    {{/unless}}

</div>
