<section class="sheet-body content sheet-content-loot inventory">
    {{> "systems/pf2e/templates/actors/partials/coinage.html" owner=owner}}
    <ol class="inventory-list directory-list inventory-pane item-container item-list" data-container-type="actorInventory">
        {{#each actor.inventory as |section sid|}}
            <li class="inventory-header">
                <h3 class="item-name">{{section.label}}</h3>
                <span class="item-sell-value">{{localize "PF2E.UnitPriceLabel"}}</span>
                <span class="item-quantity">{{localize "PF2E.QuantityLabel"}}</span>
                <span class="item-weight">{{localize "PF2E.BulkShortLabel"}}</span>
                {{#if @root.owner}}
                    <div class="item-controls" style="display: flex">
                        <a class="item-control item-create" title="{{localize "PF2E.CreateItemTitle"}}" data-type="{{sid}}"><i class="fas fa-plus"></i></a>
                        <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-filter="itemtypes-{{sid}}"><i class="fas fa-search"></i></a>
                    </div>
                {{/if}}
            </li>
            <ol class="item-list">
                {{#each section.items as |item itemId|}}
                    {{#if (not item.isInContainer)}}
                        {{> "systems/pf2e/templates/actors/partials/item-line.html" item=item editable=@root.editable owner=@root.owner user=@root.user lootsheet=true}}
                    {{/if}}
                {{/each}}
            </ol>
        {{/each}}
    </ol>
    {{#with data.attributes.encumbrance}}
        <div class="encumbrance {{#if isEncumbered}}encumbered{{/if}} {{#if isOverLimit}}over-limit{{/if}}">
            <span class="encumbrance-bar" style="width:{{limitPercentageMax100}}%"></span>
            <span class="encumbrance-label">{{bulk}} / {{encumberedAt}} ({{limit}})</span>
        </div>
    {{/with}}
</section>
