.currency {
    padding: 3px;
    @include button;
    background-color: var(--sub);
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;

    .label {
        margin-right: 10px;
        margin-left: 4px;
        color: white;
        font-weight: bold;
        justify-content: flex-start;
    }

    .denomination {
        flex: 0 1 auto;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        background-color: transparent;
        border-right: 1px solid rgba(white, 0.1);
        border-left: 1px solid rgba(black, 0.2);
        text-shadow: 0 0 3px rgba(black, 0.75);

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
            margin-right: 8px;
        }

        label {
            color: #ffe8d1;
            text-shadow: 1px 1px 1px rgba(white, 0.2),
                -1px -1px 1px rgba(black, 0.2);
            @include micro;
        }

        span {
            padding-left: 8px;
            padding-right: 12px;
        }

        &.pp {
            .currency-image {
                background: url('../icons/equipment/treasure/currency/platinum-pieces.webp')
                    no-repeat;
            }
        }
        &.gp {
            .currency-image {
                background: url('../icons/equipment/treasure/currency/gold-pieces.webp')
                    no-repeat;
            }
        }
        &.sp {
            .currency-image {
                background: url('../icons/equipment/treasure/currency/silver-pieces.webp')
                    no-repeat;
            }
        }
        &.cp {
            .currency-image {
                background: url('../icons/equipment/treasure/currency/copper-pieces.webp')
                    no-repeat;
            }
        }

        .currency-image {
            height: 24px;
            width: 24px;
            @include gold-border;
            background-size: cover !important;
        }
    }

    .add-coins-popup,
    .remove-coins-popup,
    .sell-all-treasure {
        > button {
            @include flex-center;
            @include p-reset;
            line-height: 1;
            color: rgba(black, 0.75);
            background-color: var(--tertiary);
            border: none;
            border-radius: 1px;
            box-shadow: 0 0 0 1px rgba(black, 0.25),
                inset 0 0 0 1px rgba(white, 0.25), 0 0 3px rgba(black, 0.5);

            width: 30px;
            height: 24px;
            font-size: 13px;
            font-weight: 600;
            margin-left: 2px;

            > i {
                @include p-reset;
            }

            &:hover {
                background-color: var(--primary);
                color: white;
                cursor: pointer;
            }
        }
    }
}
