.crb-style {
    display: flex;

    .details-label {
        font-family: var(--sans-serif);
        font-size: 10px;
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;
        color: var(--primary);

        margin-right: 2px;
        white-space: nowrap;
    }

    input {
        border: none;
        border-radius: 0;
        &:focus {
            box-shadow: none;
            &::placeholder {
                color: transparent;
            }
        }
        &::placeholder {
            color: var(--text-light);
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        &[type='number'] {
            -moz-appearance: textfield;
        }
    }

    select {
        font-size: 14px;
        font-family: var(--serif);
        font-weight: 500;
        color: var(--text-light);
        position: relative;
        background-color: var(--alt);
        border-radius: 2px;
        line-height: 1;
        cursor: pointer;
        padding: 4px 18px 3px 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-overflow: ellipsis;
        background-image: url('../assets/icons/chevron-down.svg');
        background-repeat: no-repeat;
        background-position: right 0.25em top 50%;
        background-size: 1em auto;
        height: auto;
        border: 1px solid #53422a;

        option {
            background-color: var(--alt);
        }
    }

    .dots span {
        cursor: pointer;
    }
}

// Disabled range input
input[type="range"]:disabled {
    &::-webkit-slider-runnable-track {
        background: #cac9c7;
        border: none;
        box-shadow: 0 0 1px #cac9c7;
        cursor: default;
    }
    &::-moz-range-track {
        background: #cac9c7;
        border: none;
        box-shadow: 0 0 1px #cac9c7;
        cursor: default;
    }
    &::-webkit-slider-thumb {
        background: white;
        border: none;
        box-shadow: 0 0 1px #cac9c7;
        cursor: default;
    }
    &::-moz-range-thumb {
        background: white;
        border: none;
        box-shadow: 0 0 1px #cac9c7;
        cursor: default;
    }
}
