aside {
    grid-area: sidebar;
    color: var(--sidebar-label);
    font-family: var(--serif);
    font-size: 10px;
    font-weight: 600;
    margin-left: 8px;
    background-image: url("../assets/sheet/red_sidebar_top.webp"), url("../assets/sheet/red_sidebar_bottom.webp");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 222px calc(100% - 52px), 222px 52px;
    display: flex;
    flex-direction: column;

    input[type="number"] {
        -moz-appearance: textfield;
        color: var(--text-light);

        // color: var(--tertiary-light);
        text-align: center;
        font-size: 26px;
        line-height: 1;
        font-weight: initial;
        font-family: var(--serif);
        border: none;

        &:focus {
            box-shadow: none;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:read-only {
            pointer-events: none;
            color: var(--tertiary-light);
        }
        &::placeholder {
            color: inherit;
        }
        &:hover {
            @include input-glow;
        }
    }

    .modifiers_button {
        line-height: 1;
        padding: 2px 3px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: inset 0 0 0 1px rgba(white, 0.4);
        color: var(--primary);
        border-radius: 2px 2px 0 0;
        border: none;
        flex: 0;
        white-space: nowrap;
        font-family: var(--sans-serif);
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-rendering: optimizeLegibility;
        font-weight: 600;
        margin: 0;
        &:hover {
            background: white;
            box-shadow: inset 0 0 0 1px white;
        }
    }
    
    .logo {
        margin: 5px -6px 0 -6px;
        border: none;
        z-index: 10;
        max-width: unset;
    }
    .sidebar {
        padding: 0 2px 2px 8px;
        margin-bottom: 42px;
        @include scrollbar;

        &::-webkit-scrollbar-track {
            box-shadow: none;
        }

        h2,
        h3,
        h4 {
            margin: 0;
            line-height: 1;
        }

        &_label {
            color: var(--sidebar-label);
            @include micro;
            white-space: nowrap;
        }

        &_title {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0.8em 0 0.5em;

            &:first-of-type {
                margin-top: 0.5em;
                margin-bottom: -1px;
            }
            h2 {
                font-family: var(--sans-serif);
                font-size: 13px;
                font-variant: small-caps;
                letter-spacing: .05em;
                line-height: 1;
                color: var(--sidebar-title);
                flex: 1;
            }
            .modifiers_button, h2 {
                border-bottom: 1px solid var(--sidebar-title);
            }

        }
        a.dots {
            display: flex;
            flex-direction: column;

            > * {
              cursor: pointer;
            }
        }
        .data-value {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0; /* Removes whitespace for inputs */

            h2 {
                color: var(--tertiary-light);
                text-align: center;
                font-size: 26px;
                line-height: 1;
                font-weight: initial;
                font-family: var(--serif);
                border: none;
            }
        }
        a.roll-icon {
            display: inline-flex;
            align-items: center;
            padding-bottom: 2px;

            i {
                font-size: 19px;
                color: var(--text-light);
                margin-left: 5px;
                animation-play-state: paused;
                &:hover {
                    animation-play-state: running;
                    @include pulse-size;
                }
            }

            svg {
                animation-play-state: paused;

                path {
                    fill: var(--text-light);
                }
            }
            &:hover svg {
                animation-play-state: running;
                @include rotate;
            }

            &.disabled {
                cursor: default;
                filter: brightness(0.75);
                opacity: 0.75;
                text-shadow: none;
                &:hover svg {
                    animation-play-state: paused;
                }
            }
        }
        select {
            font-size: 15px;
            background-color: var(--primary);
            padding: 2px 6px;
            width: 100%;
            max-width: 100%;
            @include input-border;
        }
        ol {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        @import "health",
                "armor",
                "stamina",
                "init-percept",
                "saves",
                "class-dc",
                "resists";
    }
}
