ul.sidebar-saves {
    @include p-reset;
    display: flex;

    .roll-data {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ffefbd30;

        &:first-child {
            border-left: none;
        }

        .sidebar_label {
            font-weight: initial;
            text-transform: capitalize;
            font-size: 12px;
            border: none;
            margin-bottom: 2px;
        }

        .save-roll {
            @include flex-center;
            margin: 4px 0;

            h3 {
                margin: 0;
                margin-left: 2px;
            }
        }

        .modifiers_button {
            padding: 2px;
            border-radius: 2px;
            width: initial;
        }
    }
}
